# Actividad 1

### <i> Alejandro Tolosa
---

### 2.1 Lectura y análisis exploratorio de datos

• Abrir entorno de programación, de preferencia utilizar Visual Studio Code, Google Colabg o Jupyter Notebook.

• Importe (e instale en caso de ser necesario) librería Pandas.

In [17]:
import pandas as pd

• Cargar la base de datos de nombre "ejemplo data.csv". En esta parte recomendamos explorar las diferentes opciones de read que tiene disponible la librería Pandas, identificando los argumentos disponibles en cada una de ellas.

In [18]:
df = pd.read_csv('ejemplo_data.csv')

• Identifique los tipos de variables que hay disponibles en la base de datos (df.types o df.info()).

In [19]:
print(df.dtypes)
print(df.info())

ID              int64
Nombre         object
2016           object
2017           object
Crecimiento    object
Unidades       object
fecha          object
Activo          int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Nombre       5 non-null      object
 2   2016         5 non-null      object
 3   2017         5 non-null      object
 4   Crecimiento  5 non-null      object
 5   Unidades     5 non-null      object
 6   fecha        5 non-null      object
 7   Activo       5 non-null      int64
dtypes: int64(2), object(6)
memory usage: 452.0+ bytes
None

• Utilizando la función astype transforme el atributo ”ID” a entero y el atributo ”Activo” a booleano. Vuelva a consultar el estado de las variables.

In [20]:
df['ID'] = df['ID'].astype(int)
df['Activo'] = df['Activo'].astype(bool)
print(df.dtypes)

ID              int32
Nombre         object
2016           object
2017           object
Crecimiento    object
Unidades       object
fecha          object
Activo           bool
dtype: object

• Convierta el atributo ”unidades” a entero y ”2016” a flotante.

In [21]:
df['Unidades'] = df['Unidades'].replace('No', 0)
df['Unidades'] = df['Unidades'].astype(int)

df['2016'] = df['2016'].replace('[\$,]', '', regex=True)
df['2016'] = df['2016'].astype(float)

print(df.dtypes)

ID               int32
Nombre          object
2016           float64
2017            object
Crecimiento     object
Unidades         int32
fecha           object
Activo            bool
dtype: object

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\Users\aleja\AppData\Local\Temp\ipykernel_21804\3941008958.py:4: SyntaxWarning: invalid escape sequence '\$'
  df['2016'] = df['2016'].replace('[\$,]', '', regex=True)

### 2.2 Lectura y análisis exploratorio de datos 2

• Cargar la base de datos de nombre ”ecommerce data.csv”. En esta parte recomendamos explorar las diferentes opciones de read que tiene disponible la librería Pandas, identificando los argumentos disponibles en cada una de ellas.

In [22]:
df_ecommerce = pd.read_csv('ecommerce_data.csv', encoding='latin1')
print(df_ecommerce.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

• Identifique los tipos de varibles que hay disponibles en la base de datos (df.types o df.info()).

In [23]:
print(df_ecommerce.dtypes)
print(df_ecommerce.info())

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

• Utilizando la función astype transforme el atributo ”InvoiceNo” a entero y el atributo ”Description” a string. Vuelva a consultar el estado de las variables.

In [24]:
df_ecommerce = df_ecommerce[df_ecommerce['InvoiceNo'].str.isdigit()]
df_ecommerce['InvoiceNo'] = df_ecommerce['InvoiceNo'].astype(int)

df_ecommerce['Description'] = df_ecommerce['Description'].astype(str)

print(df_ecommerce.head())

df_ecommerce.to_csv('processed_ecommerce_data.csv', index=False)

   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

• Convierta el atributo ”Quantity” a entero y ”UnitPrice” a flotante.

In [25]:
df_ecommerce['Quantity'] = df_ecommerce['Quantity'].astype(int)
df_ecommerce['UnitPrice'] = df_ecommerce['UnitPrice'].astype(float)
print(df_ecommerce.dtypes)

InvoiceNo        int32
StockCode       object
Description     object
Quantity         int32
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

• La columna ”InvoiceDate” contiene un string que representa ”fecha-hora”, separe la columna en dos columnas que representen cada atributo por separado.

In [26]:
df_ecommerce[['fecha', 'hora']] = df_ecommerce['InvoiceDate'].str.split(' ', expand=True)

• Añada una nueva columna que represente el monto total para cada boleta.

In [27]:
df_ecommerce['TotalAmount'] = df_ecommerce['Quantity'] * df_ecommerce['UnitPrice']

• Exporte la base de datos procesada en formato ”.csv”

In [28]:
df_ecommerce.to_csv('processed_ecommerce_data.csv', index=False)

• Exploración de funciones groupby, sort values, set index, sample, pivot, reset index y merge.

In [29]:
df_ecommerce['Quantity'] = df_ecommerce['Quantity'].astype(int)
df_ecommerce['UnitPrice'] = df_ecommerce['UnitPrice'].astype(float)
print(df_ecommerce.dtypes)

df_ecommerce[['fecha', 'hora']] = df_ecommerce['InvoiceDate'].str.split(' ', expand=True)

df_ecommerce['TotalAmount'] = df_ecommerce['Quantity'] * df_ecommerce['UnitPrice']
print(df_ecommerce.head())
df_ecommerce = df_ecommerce.drop_duplicates(subset=['InvoiceNo', 'Description'])

InvoiceNo        int32
StockCode       object
Description     object
Quantity         int32
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
fecha           object
hora            object
TotalAmount    float64
dtype: object
   InvoiceNo StockCode                          Description  Quantity  \
0     536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1     536365     71053                  WHITE METAL LANTERN         6
2     536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3     536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4     536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country      fecha  hora  \
0  12/1/2010 8:26       2.55     17850.0  United Kingdom  12/1/2010  8:26
1  12/1/2010 8:26       3.39     17850.0  United Kingdom  12/1/2010  8:26
2  12/1/2010 8:26       2.75     17850.0  United Kingdom  12/1/2010  8:26
3  12/1/2010 8:26       3.39     17850.0  United Kingdom  12/1/2010  8:26
4  12/1/2010 8:26       3.39     17850.0  United Kingdom  12/1/2010  8:26

   TotalAmount
0        15.30
1        20.34
2        22.00
3        20.34
4        20.34

In [30]:
# groupby
df_grouped = df_ecommerce.groupby('Description').sum()

# sort_values
df_sorted = df_ecommerce.sort_values(by='TotalAmount', ascending=False)

# set_index
df_indexed = df_ecommerce.set_index('InvoiceNo')

# sample
df_sample = df_ecommerce.sample(n=10)

# pivot
df_pivot = df_ecommerce.pivot(index='InvoiceNo', columns='Description', values='TotalAmount')

# reset_index
df_reset = df_ecommerce.reset_index()

### 2.3 Estadísticas descriptivas

• Crear un diccionario con 50 datos que contenga al menos tres atributos continuos.

In [31]:
import numpy as np

data = {
    'Atributo1': np.random.rand(50),
    'Atributo2': np.random.rand(50),
    'Atributo3': np.random.rand(50)
}

• Transforme dicho diccionario a un dataFrame de Pandas.

In [32]:
df_stats = pd.DataFrame(data)

• Obtenga estadísticas descriptivas de tendencia central.

In [33]:
print(df_stats.mean())
print(df_stats.median())
print(df_stats.mode())

Atributo1    0.434782
Atributo2    0.491093
Atributo3    0.521991
dtype: float64
Atributo1    0.396414
Atributo2    0.531566
Atributo3    0.523497
dtype: float64
    Atributo1  Atributo2  Atributo3
0    0.003789   0.010254   0.008320
1    0.011616   0.022381   0.042663
2    0.026667   0.027638   0.058021
3    0.036789   0.032883   0.065705
4    0.039989   0.061189   0.099804
5    0.054146   0.063878   0.118780
6    0.081552   0.067720   0.124813
7    0.084079   0.121276   0.125300
8    0.103838   0.133016   0.162911
9    0.113919   0.142970   0.230355
10   0.122609   0.143609   0.252505
11   0.128232   0.145499   0.302156
12   0.136053   0.149773   0.312470
13   0.215165   0.176796   0.319329
14   0.254858   0.216577   0.344115
15   0.284378   0.231985   0.355659
16   0.284567   0.288107   0.369485
17   0.299218   0.409899   0.376088
18   0.305748   0.419281   0.387622
19   0.309537   0.425354   0.425009
20   0.311294   0.433385   0.442484
21   0.319384   0.439068   0.451865
22   0.341812   0.478028   0.453124
23   0.345910   0.506472   0.477554
24   0.350171   0.531094   0.516823
25   0.442656   0.532038   0.530170
26   0.445188   0.543530   0.572606
27   0.453109   0.554689   0.579229
28   0.465635   0.573083   0.607873
29   0.470893   0.623826   0.618807
30   0.479469   0.627621   0.660683
31   0.544938   0.653519   0.691195
32   0.555638   0.712260   0.695879
33   0.577155   0.721384   0.697062
34   0.612543   0.731041   0.699521
35   0.681343   0.744787   0.706750
36   0.701702   0.745468   0.712861
37   0.713728   0.761620   0.771639
38   0.717663   0.779121   0.776391
39   0.718650   0.799066   0.814111
40   0.736984   0.814603   0.842110
41   0.776315   0.839353   0.851270
42   0.787646   0.855867   0.853581
43   0.815652   0.862499   0.873913
44   0.845480   0.873210   0.925018
45   0.868085   0.876384   0.935549
46   0.893356   0.892676   0.949215
47   0.918175   0.910599   0.958964
48   0.967965   0.910849   0.968357
49   0.983832   0.937447   0.983809

• Obtenga estadísticas descriptivas de dispersión.

In [34]:
print(df_stats.var())
print(df_stats.std())
print(df_stats.describe())

Atributo1    0.087300
Atributo2    0.093738
Atributo3    0.084739
dtype: float64
Atributo1    0.295465
Atributo2    0.306167
Atributo3    0.291100
dtype: float64
       Atributo1  Atributo2  Atributo3
count  50.000000  50.000000  50.000000
mean    0.434782   0.491093   0.521991
std     0.295465   0.306167   0.291100
min     0.003789   0.010254   0.008320
25%     0.155831   0.156529   0.314185
50%     0.396414   0.531566   0.523497
75%     0.710721   0.757582   0.756945
max     0.983832   0.937447   0.983809

### 2.4 Transformación e imputación de datos

• Importe la librería sklearn.

In [35]:
from sklearn.impute import SimpleImputer

• Cargar las bases de datos de nombre ”ratings data.csv” y ”books data.csv”.

In [36]:
import pandas as pd

df_ratings = pd.read_csv('ratings_data.csv')
df_books = pd.read_csv('books_data.csv', encoding='latin1', delimiter=';')

print(df_ratings.head())
print(df_books.head())

   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X            0    2.933333
1           1   276726  0155061224            5    2.500000
2           2   276727  0446520802            0    4.060345
3           3   276729  052165615X            3    3.000000
4           4   276729  0521795028            6    6.000000
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author  Year-Of-Publication                Publisher  \
0    Mark P. O. Morford                 2002  Oxford University Press
1  Richard Bruce Wright                 2001    HarperFlamingo Canada
2          Carlo D'Este                 1991          HarperPerennial
3      Gina Bari Kolata                 1999     Farrar Straus Giroux
4       E. J. W. Barber                 1999   W. W. Norton & Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

• Utilizando ”ratings data.csv” genere un diagnóstico de números perdidos. Luego impute los valores de acuerdo a la media y de acuerdo a otro criterio seleccionado por usted. Explore las opciones de imputación del método fillna() de Pandas.

In [37]:
from sklearn.impute import SimpleImputer

missing_values = df_ratings.isnull().sum()
print("Número de valores perdidos por columna:")
print(missing_values)

mean_imputer = SimpleImputer(strategy='mean')

df_ratings['Book-Rating'] = mean_imputer.fit_transform(df_ratings[['Book-Rating']])
print("Valores imputados de acuerdo a la media:")
print(df_ratings.head())

df_ratings['Book-Rating'] = df_ratings['Book-Rating'].fillna(0)
print("Valores imputados con fillna(0):")
print(df_ratings.head())

mean_value = df_ratings['Book-Rating'].mean()
df_ratings['Book-Rating'] = df_ratings['Book-Rating'].fillna(mean_value)
print("Valores imputados con la media usando fillna():")
print(df_ratings.head())

median_value = df_ratings['Book-Rating'].median()
df_ratings['Book-Rating'] = df_ratings['Book-Rating'].fillna(median_value)
print("Valores imputados con la mediana usando fillna():")
print(df_ratings.head())

Número de valores perdidos por columna:
Unnamed: 0     0
User-ID        0
ISBN           0
Book-Rating    0
MeanRating     0
dtype: int64
Valores imputados de acuerdo a la media:
   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X          0.0    2.933333
1           1   276726  0155061224          5.0    2.500000
2           2   276727  0446520802          0.0    4.060345
3           3   276729  052165615X          3.0    3.000000
4           4   276729  0521795028          6.0    6.000000
Valores imputados con fillna(0):
   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X          0.0    2.933333
1           1   276726  0155061224          5.0    2.500000
2           2   276727  0446520802          0.0    4.060345
3           3   276729  052165615X          3.0    3.000000
4           4   276729  0521795028          6.0    6.000000
Valores imputados con la media usando fillna():
   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X          0.0    2.933333
1           1   276726  0155061224          5.0    2.500000
2           2   276727  0446520802          0.0    4.060345
3           3   276729  052165615X          3.0    3.000000
4           4   276729  0521795028          6.0    6.000000
Valores imputados con la mediana usando fillna():
   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating
0           0   276725  034545104X          0.0    2.933333
1           1   276726  0155061224          5.0    2.500000
2           2   276727  0446520802          0.0    4.060345
3           3   276729  052165615X          3.0    3.000000
4           4   276729  0521795028          6.0    6.000000

• En ”ratings data.csv genere una nueva variable que represente el promedio de rating para cada ISBN distinto.

In [38]:
df_ratings['avg_rating'] = df_ratings.groupby('ISBN')['Book-Rating'].transform('mean')

print(df_ratings.head())

df_ratings.to_csv('ratings_data_with_avg_rating.csv', index=False)

   Unnamed: 0  User-ID        ISBN  Book-Rating  MeanRating  avg_rating
0           0   276725  034545104X          0.0    2.933333    2.933333
1           1   276726  0155061224          5.0    2.500000    2.500000
2           2   276727  0446520802          0.0    4.060345    4.060345
3           3   276729  052165615X          3.0    3.000000    3.000000
4           4   276729  0521795028          6.0    6.000000    6.000000

• Utilizando la columna ISBN de cada base de datos consolídelas en una sola base de datos con todos los atributos de ”books data.csv”

In [39]:
df_consolidated = pd.merge(df_books, df_ratings, on='ISBN')

• Exporte la base de datos consolidada.

In [40]:
df_consolidated.to_csv('consolidated_data.csv', index=False)